{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended","eslint:recommended"
   ],
    "parserOptions": { "ecmaVersion": 2020, "sourceType": "module" },
    "rules": {
      "semi": "error",
      "prefer-const": "error",
      "indent": ["error", 2, { "SwitchCase": 1 }],
      "no-empty-interface": 0,
      "@typescript-eslint/no-explicit-any": "off"
    }
  }
  